<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aiworkflowback.Flow.Mapper.FlowInfoMapper">
	<insert id="insertFlowData">
		INSERT INTO flow_info (
			userId,
			userName,
			flowConfigId,
			flowStatus,
			appName,
			appDesc,
			appType,
			createTime,
			updateTime
		) VALUES (
			#{userId},
			#{userName},
			#{flowConfigId},
			#{flowStatus},
			#{appName},
			#{appDesc},
			#{appType},
			#{createTime},
			#{updateTime}
		)
	</insert>
	<select
			id="selectFlowInfoByFlowName"
			resultType="com.example.aiworkflowback.Flow.Modal.Entity.FlowEntity"
	>
		SELECT * FROM flow_info WHERE appName = #{flowName}
	</select>
	<select id="selectFlowInfoByPagination" resultType="com.example.aiworkflowback.Flow.Modal.Entity.FlowEntity" >
		SELECT * FROM flow_info
			<where>
				<if test="userName  != null and userName  != ''">
					AND userName = #{userName}
				</if>
			</where>
		limit #{offset}, #{pageSize}
	</select>
	<select id="selectFlowInfoByFlowId" resultType="com.example.aiworkflowback.Flow.Modal.Entity.FlowEntity">
		SELECT * FROM flow_info WHERE id = #{flowId}
	</select>
</mapper>